---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import KeyboardManager from '@/components/KeyboardManager.astro'


      // {
      //   "name": "MACE",
      //   "position": "Full-Stack Developer",
      //   "startDate": "2022-01-01",
      //   "endDate": null,
      //   "summary": "Desarrollé un emprendimiento con unos compañeros de la universidad, enfocado en el desarrollo de páginas web, aplicaciones web y de escritorio. Para su creación, principalmente utilizamos Astro, HTML, CSS (Tailwind) y JavaScript.",
      //   "highlights": [
      //     "Emprendimiento", "Colaboración", "Diversas tecnologías"
      //   ]
      // },

---

<Layout title="CV de Carlos David Ballesteros Torres.">
	<main>
		<Hero />
		<About />
		<Experience/>
		<Education />
		<Projects />
		<Skills />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}

	@media (width <= 700px) {
		main {
		padding: 2rem;
		}
	}
</style>
