---
const { tittle } = Astro.props
---
<section>
    {tittle && <h2>{tittle}</h2>} 
    <slot />
</section>

<style>
    section {
    max-width: 850px;
    margin: 0 auto 32px;
  }

  h2 {
    margin-bottom: 6px;
    font-weight: 700;
    line-height: 1.4;
    font-size: 1.2rem;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 24px;
    }
  }

  @media print {
    section {
      max-width: 100%;
      margin-bottom: 16px;
    }
  }
</style>